<nav class="navbar">
    <a href="/" class="nav-title">CryptoTrackr</a>
    <div class="toggle-button" id="toggleButton">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
        <span class="bar4"></span>
    </div>

    <% if (user) { %>

        <div class="nav-links" id="nav-links">
            <ul>
                <li><a href="/crypto">Crypto</a></li>
                <li><a href="/crypto/addCrypto">Add Crypto</a></li>
                <li><a href="/crypto/deleteCrypto">Delete Crypto</a></li>
                <li>
                    <div class="login-form">
                        <a href="/auth/logout?_method=DELETE"><i class='bx bxs-user'> Logout</i></a>
                    </div>
                </li>
            </ul>
        </div>

        <% } else { %>

            <div class="nav-links" id="nav-links">
                <ul>
                    <li>
                        <a href="/auth/login"><i class="bx bxs-user"> Login</i></a>
                    </li>
                </ul>
            </div>

            <div class="login-show">
            </div>

            <% } %>
</nav>

<script>
    const toogleButton = document.getElementById('toggleButton');

    if (toogleButton) {
        showMenu(toogleButton)
    }
</script>