<div class="search-container">
    <div class="searchCrypto-container">
        <div class="crypto-search">

            <div class="search-header">
                <h1> Add Crypto </h1>
            </div>

            <div class="crypto-add">
                <form action="/crypto/addCrypto" method="post">

                    <% if (messages.error) { %>

                        <div class="error-message">
                            <i class='bx bxs-error'></i>
                            <%= messages.error %>
                        </div>

                        <% } %>
                            <div class="crypto-input">
                                <input type="text" name="crypto" id="cryptoSearchInput" oninput="searchCrypto()"
                                    placeholder="Search Crypto..." autocomplete="off">
                            </div>
                            <ul id="cryptoList" class="crypto-list">
                                <% for (let i=0; i < coins.length; i++) { %>
                                    <li>
                                        <p onclick="selectCrypto('<%= coins[i].name %>')">
                                            <%= coins[i].name %>
                                        </p>
                                    </li>
                                    <% } %>
                            </ul>
                            <button type="submit" class="InputButton">Input</button>
                            <div class="forgot-container">
                                <label>Data Is Provided By</label>
                                <a href="http://www.livecoinwatch.com/">Livecoinwatch</a>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>